@import "~normalize.css";
@import '~modern-css-reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import "./variables.scss";


body{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}


