.container{
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 50px 174px 45px 166px;
  background: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  .random{
      margin-top: 50px;
  }
  .footer{
      &__vision{
          position: absolute;
          width: 467px;
          height: 372px;
          right: 0px;
          bottom: 0px;
      }
  }
}